/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/build/config.guess
/build/config.sub
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/src/Makefile.in
/src/Makefile
/src/finvenkisto
/src/fv-map.c
/src/rply/Makefile
/src/rply/Makefile.in
/src/rply/convert
/src/rply/librply.a
/src/data/fv-image-data-enum.h
/src/data/fv-image-data-files.h
/src/data/fv-image-data-stamp
/src/data/Makefile.in
/src/data/Makefile
/src/data/map-texture.png
/src/data/*.blend[12]
/src/data/hud/*.png
/src/data/hud.png
/src/data/hud-layout.h
/src/data/hud/digits-stamp
/src/data/hud-stamp
/src/data/nekrokodilu.png
/src/data/*.mipng
*.o
.deps
