/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/data/Makefile.in
/data/Makefile
/data/map-texture.png
/src/Makefile.in
/src/Makefile
/src/finvenkisto
/src/fv-map.c
/src/rply/Makefile
/src/rply/Makefile.in
/src/rply/convert
/src/rply/librply.a
*.o
.deps
